@import '../../theme/sass/auth';

.footer-center{
  text-align: center;
  margin: 0 auto;
  text-indent: -18%;
  font-family: 微软雅黑, serif;
}
main {
  min-height: 100%;
  position: relative;
  font: 14px/16px $font-family;
  color: $default-text;

  background-color: $body-bg;

  $mainBgUrl: $images-root + 'sk-bg3.jpg';

  &::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url($mainBgUrl) no-repeat center center;
    background-size: cover;
    will-change: transform;
    z-index: 0;
  }

  .additional-bg {
    display: none;
    @include additional-bg();
  }
}
